# =====================
# Visual Studio / VS Code
# =====================
.vscode/
*.code-workspace
*.suo
*.user
*.userosscache
*.sln.docstates

# =====================
# .NET / C# build outputs
# =====================
bin/
obj/
*.exe
*.dll
*.pdb
*.cache
*.log
*.vs/

# =====================
# Python
# =====================
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
*.env
*.egg-info/
dist/
build/
pip-wheel-metadata/

# =====================
# OS-specific
# =====================
.DS_Store
Thumbs.db

# =====================
# ML Model
# =====================
ml-model/sentiment_model.pkl
